// Testimonial One
.testimonialOne {
  position: relative;
  padding: 100px 0;

  @include md {
    padding: 60px 0;
  }

  .bgCover {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include md {
      display: none;
    }
  }

  .owl-theme {
    .owl-dots {
      margin-top: 24px !important;
      text-align: left;

      .owl-dot {
        width: 24px;
        height: 24px;
        border: 2px solid $bgLightClrThree;
        border-radius: 50%;
        background-color: $whiteClr;
        padding: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

        span {
          background-color: $bgLightClrThree;
          margin: 0;
        }

        &.active {
          border-color: $primaryClr;

          span {
            background-color: $primaryClr;
          }
        }
      }
    }
  }
}
