// Fonts
$bodyFont: "Inter", sans-serif;
$titleFont: "Exo", sans-serif;

$fz12: 12px;
$fz14: 14px;
$fz15: 15px;
$fz16: 16px;
$fz18: 18px;
$fz20: 20px;
$fz28: 28px;
$fz30: 30px;
$fz40: 40px;
$fz60: 60px;
$fz70: 70px;

// Color
$noClr: transparent;
$whiteClr: #ffffff;
$blackClr: #000000;
$primaryClr: #086ad7;
$secondaryClr: #7202bb;
$textClr: #5f6069;
$titleClr: #151318;
$bgLightClr: #faf9fb;
$bgLightClrTwo: #e8e8e8;
$bgLightClrThree: #d8d8d8;
$bgDarkClr: #02161a;
$yellowClr: #ffcb36;

// Transition
$ease3: all ease 0.3s;
$ease5: all ease 0.5s;
$ease9: all ease 0.9s;
$linear2: all linear 0.2s;
